@import './stylesheets/navbar.scss';
@import './stylesheets/imagesCarousel.scss';
@import './stylesheets/authors.scss';

body {
    font-family: 'Nunito SemiBold';
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
}

.books-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-list-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* width: 50%; */
}

.book-list, #author-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    margin: 10px 35px 5px 20px;
    border: 1px solid #880E4F;
    border-radius: 2px;
}

.book-list li, #author-list li {
    display: flex;
    margin: 6px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #880E4F;
    cursor: pointer;
    color: #880E4F;
}

h1 {
    text-align: center;
    margin: 0;
    color: #880E4F;
}

h2 {
    text-align: center;
    margin-top: 0;
}

form {
    background: rgb(158, 117, 138);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 5px 15px;
    border-radius: 4px;
}

form .field {
    display: flex;
    justify-content: space-between;
}

form label {
    text-align: right;
    padding: 6px;
}

form input, form select {
    margin: 4px 0;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 4px;
}

form select {
    color: #880E4F;
    width: 193px;
}

#plusBtn {
    color: #fff;
    font-size: 2em;
    background: #AD1457;
    border: 0;
    cursor: pointer;
    align-self: flex-end;
    width: 193px;
    height: 32px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border-radius: 4px;
}