@import './stylesheets/navbar.scss';
@import './stylesheets/imagesCarousel.scss';
@import './stylesheets/authorsList.scss';
@import './stylesheets/authorDetails.scss';
@import './stylesheets/addAuthor.scss';
@import './stylesheets/updateAuthor.scss';
@import './stylesheets/booksList.scss';
@import './stylesheets/bookDetails.scss';
@import './stylesheets/pageNotFound.scss';

body {
    font-family: 'Nunito SemiBold';
    margin: 0;
    padding: 0;
}