.books__update {
    display: flex;
    justify-content: center;
}

.book-title {
    text-align: center;
    margin: 10px;
    color: #880E4F;
    font-size: 40px;
    font-weight: bold;
}

.book-list__container {
    display: flex;
    justify-content: center;
}

.book-list__content {
    max-width: 900px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 5px 20px 20px 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(241, 139, 194);
    border: 1px solid #880E4F;
}

.book-card__image {
    width: 150px;
    height: auto;
}

.book-card__body {
    margin: 5px;
    color: black;
}

.book-card__name, .book-card__genre {
    margin-bottom: 5px;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-card__books {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 7px;
}

.book-card__books > a {
    text-decoration: none;
}