.update-author {
    background: rgb(158, 117, 138);
    padding: 5px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 15px 15px 15px 30px;
    border-radius: 4px;
}

.update-author__title {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.update-author__name, .update-author__age, .update-author__select {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.update-author__label {
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    color: cornsilk;
}

.update-author__input {
    margin: 4px 0;
    padding-left: 6px;
    border-radius: 4px;
    min-width: 210px;
}

.update-author__select {
    @extend .update-author__input;
    padding: 5px 0;
    color: #880E4F;
}

.update-author__button {
    color: #fff;
    background: #AD1457;
    cursor: pointer;
    align-self: flex-end;
    width: 100%;
    height: 32px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    margin-top: 10px;
}

.update-author__button:hover {
    background: rgb(179, 77, 119);
}

.update-author__button:focus-within {
    outline: none;
}

.update-author__button:active {
    color: black;
}